/* Background Image Styling */
body {
       background-image: url(/assets/images/background.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
}
/* Navigation Buttons Styling */
.navbuttons {
       background-color: rgba(0, 0, 0, 0.4);
       color: white;
       padding: 10px 40px;
       border-radius: 12px;
       text-align: center;
       font-size: 20px;
       font-weight: bold;
       width: 200px;
       box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.2) inset;
       transition: background 0.3s, transform 0.2s;
       border: 2px solid rgba(255, 255, 255, 0.2); /* light border */
}
/* Hover Effect for Navigation Buttons */
.navbuttons:hover {
       background-color: rgba(202, 202, 202, 0.678);
       color: black;
       cursor: pointer;
       transition: background-color 0.3s, color 0.3s;
}
/* Container for Navigation Buttons */
#buttons-c{
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 20px;
       background-color: rgb(0, 0, 0, 0.5);
       padding: 20px;
       border-radius: 15px;
       box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.2) inset;
       transition: background 0.3s, transform 0.2s;
       border: 2px solid rgba(255, 255, 255, 0.2); /* light border */
}
@font-face {
    font-family: 'Bitcount Single';
    src: url('Assets/Fonts/BitcountSingle-Regular.woff2') format('woff2'),
        url('Assets/Fonts/BitcountSingle-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@media (max-width: 410px) {
  #buttons-c {
    flex-direction: column;
  }
}